---
import { Image } from "astro:assets";
import MapSection from "../../components/MapSection.astro";
import MainLayout from "../../layouts/main-layout.astro";

import img1 from "../../assets/images/aspiretowers/aspiremain.jpeg";
import img2 from "../../assets/images/bridgeview/bridgemain.jpg";
---

<MainLayout title="Gajinkar Builders - About Us">
  <section
    class="services-heading mt-[-93px] min-h-screen flex justify-center items-center"
  >
    <div class="p-4 mt-[93px]">
      <div
        class="flex flex-col justify-center items-center gap-1 md:gap-2 lg:gap-3 xl:gap-4"
      >
        <h1
          class="text-center font-black pb-2 text-4xl md:text-5xl lg:text-6xl xl:text-7xl mb-1 lg:mb-2 xl:mb-4"
        >
          About <span class="text-blue-800">Gajinkar Builders</span>
        </h1>
      </div>
      <div class="flex flex-col gap-4 lg:flex-row lg:gap-6 xl:gap-8 2xl:gap-10">
        <div>
          <h2
            class="text-blue-900 font-bold text-lg md:max-w-[600px] lg:text-xl"
          >
            Crafting Excellence in Construction Since 1995:
          </h2>
          <p class="text-blue-950 font-semibold md:max-w-[600px]">
            Founded by Santosh Gajinkar, Gajinkar Builders is a symbol of
            construction excellence with a legacy spanning 27 years. Our
            dedicated team blends visionary leadership with an unwavering
            commitment to quality, transforming your dreams into timeless
            realities. Since our inception in 1995, we've been steadfast in
            crafting spaces that surpass expectations.
          </p>
        </div>
        <div>
          <h2
            class="text-blue-900 font-bold text-lg md:max-w-[600px] lg:text-xl"
          >
            Diverse Ventures:
          </h2>
          <p class="text-blue-950 font-semibold md:max-w-[600px]">
            In addition to our construction endeavors, we proudly own a tennis
            academy in Pundaliknagar, Porvorim, contributing to sports
            development and community engagement. This diversified approach
            reflects our commitment to both quality construction and enriching
            community experiences.
          </p>
        </div>
      </div>
      <div
        class="text-center font-bold text-blue-950 text-base lg:text-lg 2xl:text-xl p-4 lg:p-6"
      >
        Our Headquarters: Betim, Bardez - Goa
      </div>
    </div>
  </section>

  <section class="mission-vision-section">
    <div class="p-4 pb-4 flex justify-center items-center">
      <div
        class="grid grid-cols-1 md:grid-cols-2 justify-center items-center lg:max-w-5xl xl:max-w-6xl 2xl:max-w-[1400px]"
      >
        <div class="md:px-2">
          <h2
            class="uppercase text-sm text-blue-900 font-black md:text-base lg:text-lg xl:text-xl"
          >
            Our Mission & Vision
          </h2>

          <div
            class="flex flex-col lg:flex-row justify-center items-center py-3 gap-2 md:gap-3 lg:gap-4 xl:gap-6"
          >
            <div>
              <h3 class="font-bold text-2xl md:text-3xl pb-2 xl:text-4xl">
                Mission
              </h3>
              <p class="text-neutral-500 font-medium xl:text-base">
                Providing reliable and affordable housing with a commitment to
                exceptional quality in every endeavor.
              </p>
            </div>
            <div>
              <h3
                class="font-bold text-2xl md:text-3xl py-2 md:pt-2 xl:text-4xl"
              >
                Vision
              </h3>
              <p class="text-neutral-500 font-medium xl:text-base">
                To expand ambitiously into the hospitality and sports
                industries, aiming for substantial growth and impact.
              </p>
            </div>
          </div>
        </div>
        <div class="rounded-3xl overflow-hidden">
          <Image src={img2} alt="" class="object-cover max-h-[420px]" />
        </div>
      </div>
    </div>
  </section>

  <section class="about-goals rounded-t-3xl">
    <div class="p-4 py-6 lg:py-8">
      <h2
        class="text-center font-black text-4xl md:text-5xl lg:text-6xl xl:text-7xl"
      >
        Projects
      </h2>
      <h3
        class="text-xl my-2 mt-4 md:my-4 md:mt-6 lg:my-6 lg:mt-8 text-center font-semibold text-white py-2 bg-[#000000b4] shadow-inner rounded-lg md:text-2xl lg:text-3xl md:py-3 lg:py-5 2xl:py-6 xl:text-4xl"
      >
        Crafting Excellence in Construction - A Legacy Built
      </h3>
      <div
        class="p-4 flex flex-col md:flex-row text-white gap-2 md:gap-4 lg:gap-6 xl:gap-8 2xl:gap-10 justify-center items-center md:text-lg lg:text-xl"
      >
        <div
          class="overflow-hidden rounded-2xl bg-[#000000b0] md:max-w-[400px] border-2 border-indigo-600 shadow-lg"
        >
          <Image src={img2} alt="" class="h-[20vh] object-cover lg:h-[30vh]" />
          <div class="p-2 flex justify-between items-center">
            <h2>Completed Projects - 6</h2>
            <a
              href="/completed-projects"
              class="m-1 inline-block bg-indigo-600 p-2 rounded-3xl px-3"
              >View All</a
            >
          </div>
        </div>
        <div
          class="overflow-hidden rounded-2xl bg-[#000000b0] md:max-w-[400px] border-2 border-indigo-600 shadow-lg"
        >
          <Image src={img1} alt="" class="h-[20vh] object-cover lg:h-[30vh]" />
          <div class="p-2 flex justify-between items-center">
            <h2>On - Going Projects - 2</h2>
            <a
              href="/ongoing-projects"
              class="m-1 inline-block bg-indigo-600 p-2 rounded-3xl px-3"
              >View All</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="py-8 bg-fuchsia-200">
      <h2
        class="text-center font-bold text-3xl md:text-4xl lg:text-5xl 2xl:text-6xl"
      >
        What Sets Gajinkar Builders Apart?
      </h2>
    </div>
    <div class="flex justify-center items-center">
      <div
        class="grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-3 p-4 md:gap-6 md:p-8 xl:gap-8 xl:p-10 lg:max-w-[1100px]"
      >
        <div
          class="border-2 border-fuchsia-600 rounded-md p-2 flex flex-col justify-center items-center text-center transition-all duration-700 shadow-xl hover:shadow h-full lg:p-4"
        >
          <h3 class="font-bold text-xl lg:text-2xl">Legacy of Excellence</h3>
          <p class="font-medium pt-2 text-base lg:text-lg">
            We bring a wealth of experience and a proven track record of
            construction excellence.
          </p>
        </div>
        <div
          class="border-2 border-fuchsia-600 rounded-md p-2 flex flex-col justify-center items-center text-center transition-all duration-700 shadow-xl hover:shadow h-full lg:p-4"
        >
          <h3 class="font-bold text-xl lg:text-2xl">Visionary Leadership</h3>
          <p class="font-medium pt-2 text-base lg:text-lg">
            Our team is guided by visionary leadership committed to pushing the
            boundaries of quality construction.
          </p>
        </div>
        <div
          class="border-2 border-fuchsia-600 rounded-md p-2 flex flex-col justify-center items-center text-center transition-all duration-700 shadow-xl hover:shadow h-full lg:p-4"
        >
          <h3 class="font-bold text-xl lg:text-2xl">Commitment to Quality</h3>
          <p class="font-medium pt-2 text-base lg:text-lg">
            Our unwavering commitment to quality ensures that every project
            transforms dreams into enduring realities.
          </p>
        </div>
        <div
          class="border-2 border-fuchsia-600 rounded-md p-2 flex flex-col justify-center items-center text-center transition-all duration-700 shadow-xl hover:shadow h-full lg:p-4"
        >
          <h3 class="font-bold text-xl lg:text-2xl">Community Engagement</h3>
          <p class="font-medium pt-2 text-base lg:text-lg">
            Beyond construction, we proudly own a tennis academy in
            Pundaliknagar, Porvorim, contributing to sports development and
            community enrichment.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gradient-to-r from-gray-800 via-gray-950 to-black">
    <h2
      class="text-center text-2xl p-2 py-6 text-white capitalize md:py-8 md:text-3xl font-semibold xl:text-4xl xl:py-10"
    >
      Where excellence is not just a goal; it's our legacy.
    </h2>
  </section>

  <MapSection />
</MainLayout>
<style>
  .about-goals {
    background-image: linear-gradient(
      109.6deg,
      rgb(217, 229, 233) 91.1%,
      rgb(255, 255, 255) 11.2%,
      rgb(217, 229, 233) 91.1%
    );
  }
</style>
