---
import { Image } from "astro:assets";
import MainLayout from "../../layouts/main-layout.astro";
import aboutsection from "../../assets/images/aboutsection.png";
---

<MainLayout>
  <!-- <section
    class="relative isolate h-[15vh] md:h-[18vh] xl:h-[20vh] contact-hero flex items-center"
  >
    <div class="absolute inset-0 w-full h-full bg-blue-950 opacity-70 z-0">
    </div>
    <div class="absolute top-[50%] left-[5%] z-10">
      <div class="flex gap-1">
        <a href="/">
          <span class="uppercase text-teal-200 pb-3">Home /</span>
        </a>
        <h2 class="uppercase text-teal-200 pb-3">Services</h2>
      </div>
      <h1
        class="font-extralight text-white text-4xl md:text-5xl md:max-w-xl md:leading-[4rem] xl:text-6xl xl:max-w-3xl xl:leading-[5rem]"
      >
        We're Always Helpful To Lend A Hand
      </h1>
    </div>
  </section> -->

  <section class="services-heading">
    <div class="p-4 py-10 lg:py-14 xl:py-16 2xl:py-20">
      <div
        class="flex flex-col justify-center items-center gap-1 md:gap-2 lg:gap-3 xl:gap-4"
      >
        <h1
          class="text-center font-bold pb-2 text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl"
        >
          Our Services to Your Needs
        </h1>
        <p class="text-center font-medium text-neutral-800 md:max-w-[600px]">
          Explore a spectrum of services designed to meet your unique
          requirements. From construction to rebuilding and reselling, we craft
          solutions that resonate with your vision and goals. Your journey to
          exceptional services begins here.
        </p>
      </div>
    </div>
  </section>

  <section class="bg-indigo-50">
    <div
      class="p-4 py-9 lg:p-6 xl:p-8 2xl:p-10 lg:py-14 xl:py-16 rounded-b-3xl bg-gradient-to-r from-emerald-50 to-teal-100 shadow-lg"
    >
      <h2
        class="text-center font-bold pb-4 text-3xl md:text-4xl lg:pb-10 xl:pb-14 xl:text-5xl"
      >
        Construction Services
      </h2>
      <div
        class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center lg:gap-6 xl:gap-8"
      >
        <div>
          <h3
            class="p-2 text-lg font-semibold md:text-xl lg:text-2xl xl:text-3xl"
          >
            Building Dreams, Transforming Spaces - Your Trusted Partner in
            Construction Excellence
          </h3>
          <p class="p-2 font-medium text-neutral-800 xl:text-lg">
            At the heart of our Construction Services is a commitment to
            building dreams and transforming spaces. As your trusted partner in
            construction excellence, we bring vision to life, ensuring every
            project reflects precision and innovation. With a dedicated team,
            cutting-edge technology, and a passion for quality, we create spaces
            that stand as a testament to our commitment to construction
            brilliance.
          </p>
        </div>
        <div class="flex justify-center items-center">
          <Image
            src={aboutsection}
            alt=""
            class="rounded-xl shadow-lg object-cover"
          />
        </div>
      </div>
    </div>
    <div class="p-4 py-9 lg:p-6 xl:p-8 2xl:p-10 lg:py-14 xl:py-16">
      <h2
        class="text-center font-bold pb-4 text-3xl md:text-4xl lg:pb-10 xl:pb-14 xl:text-5xl"
      >
        Rebuilding Services
      </h2>
      <div
        class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center lg:gap-6 xl:gap-8"
      >
        <div class="hidden lg:flex justify-center items-center">
          <Image
            src={aboutsection}
            alt=""
            class="rounded-xl shadow-lg object-cover"
          />
        </div>
        <div>
          <h3
            class="p-2 text-lg font-semibold md:text-xl lg:text-2xl xl:text-3xl"
          >
            Revitalizing Structures, Renewing Possibilities
          </h3>
          <p class="p-2 font-medium text-neutral-800 xl:text-lg">
            Experience a transformation with our Rebuilding Services, where we
            specialize in revitalizing structures and renewing possibilities.
            Whether it's restoring the past or creating a new vision, our expert
            team brings life back to spaces, ensuring a renewed and vibrant
            future for your properties. Trust us to rebuild with precision,
            turning dreams into reality.
          </p>
        </div>
        <div class="flex justify-center items-center lg:hidden">
          <Image
            src={aboutsection}
            alt=""
            class="rounded-xl shadow-lg object-cover"
          />
        </div>
      </div>
    </div>
    <div
      class="p-4 py-9 lg:p-6 xl:p-8 2xl:p-10 lg:py-14 xl:py-16 rounded-t-3xl bg-gradient-to-r from-emerald-50 to-teal-100 shadow-lg"
    >
      <h2
        class="text-center font-bold pb-4 text-3xl md:text-4xl lg:pb-10 xl:pb-14 xl:text-5xl"
      >
        Reselling Services
      </h2>
      <div
        class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center lg:gap-6 xl:gap-8"
      >
        <div>
          <h3
            class="p-2 text-lg font-semibold md:text-xl lg:text-2xl xl:text-3xl"
          >
            Unlocking Value, Maximizing Returns
          </h3>
          <p class="p-2 font-medium text-neutral-800 xl:text-lg">
            Embark on a journey with our Reselling Services, where the focus is
            on unlocking hidden value and maximizing returns. Our strategic
            approach and market expertise ensure a seamless process, guiding you
            through the complexities of reselling with confidence. Trust us to
            optimize the potential of your properties, turning them into
            lucrative assets in the market.
          </p>
        </div>
        <div class="flex justify-center items-center">
          <Image
            src={aboutsection}
            alt=""
            class="rounded-xl shadow-lg object-cover"
          />
        </div>
      </div>
    </div>
  </section>
</MainLayout>

<style></style>
