---
import { Image } from "astro:assets";
import MainLayout from "../../layouts/main-layout.astro";
import aboutsection from "../../assets/images/aboutsection.png";
---

<MainLayout>
  <!-- <section
    class="relative isolate h-[15vh] md:h-[18vh] xl:h-[20vh] contact-hero flex items-center"
  >
    <div class="absolute inset-0 w-full h-full bg-blue-950 opacity-70 z-0">
    </div>
    <div class="absolute top-[50%] left-[5%] z-10">
      <div class="flex gap-1">
        <a href="/">
          <span class="uppercase text-teal-200 pb-3">Home /</span>
        </a>
        <h2 class="uppercase text-teal-200 pb-3">Services</h2>
      </div>
      <h1
        class="font-extralight text-white text-4xl md:text-5xl md:max-w-xl md:leading-[4rem] xl:text-6xl xl:max-w-3xl xl:leading-[5rem]"
      >
        We're Always Helpful To Lend A Hand
      </h1>
    </div>
  </section> -->

  <section class="">
    <div class="p-4 py-6">
      <div
        class="flex flex-col justify-center items-center gap-1 md:gap-2 lg:gap-3 xl:gap-4"
      >
        <h1
          class="text-center font-bold pb-2 text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl"
        >
          Our Services to Your Needs
        </h1>
        <p class="text-center font-medium text-neutral-800 md:max-w-[600px]">
          Explore a spectrum of services designed to meet your unique
          requirements. From construction to rebuilding and reselling, we craft
          solutions that resonate with your vision and goals. Your journey to
          exceptional services begins here.
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="p-4 py-6 rounded-t-xl">
      <h2 class="text-center font-bold pb-2 text-2xl">Construction Services</h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center">
        <div>
          <h3>
            Building Dreams, Transforming Spaces - Your Trusted Partner in
            Construction Excellence
          </h3>
          <p>
            At the heart of our Construction Services is a commitment to
            building dreams and transforming spaces. As your trusted partner in
            construction excellence, we bring vision to life, ensuring every
            project reflects precision and innovation. With a dedicated team,
            cutting-edge technology, and a passion for quality, we create spaces
            that stand as a testament to our commitment to construction
            brilliance.
          </p>
        </div>
        <div>
          <Image
            src={aboutsection}
            alt=""
            class="rounded-xl shadow-lg object-cover"
          />
        </div>
      </div>
    </div>
    <div class="p-4 py-6 rounded-t-xl">
      <h2 class="text-center font-bold pb-2 text-2xl">Rebuilding Services</h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center">
        <div>
          <h3>Revitalizing Structures, Renewing Possibilities</h3>
          <p>
            Experience a transformation with our Rebuilding Services, where we
            specialize in revitalizing structures and renewing possibilities.
            Whether it's restoring the past or creating a new vision, our expert
            team brings life back to spaces, ensuring a renewed and vibrant
            future for your properties. Trust us to rebuild with precision,
            turning dreams into reality.
          </p>
        </div>
      </div>
    </div>
    <div class="p-4 py-6 rounded-t-xl">
      <h2 class="text-center font-bold pb-2 text-2xl">Reselling Services</h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center">
        <div>
          <h3>Unlocking Value, Maximizing Returns</h3>
          <p>
            Embark on a journey with our Reselling Services, where the focus is
            on unlocking hidden value and maximizing returns. Our strategic
            approach and market expertise ensure a seamless process, guiding you
            through the complexities of reselling with confidence. Trust us to
            optimize the potential of your properties, turning them into
            lucrative assets in the market.
          </p>
        </div>
        <div>
          <Image
            src={aboutsection}
            alt=""
            class="rounded-xl shadow-lg object-cover"
          />
        </div>
      </div>
    </div>
  </section>
</MainLayout>
