---
import MainLayout from "../../layouts/main-layout.astro";
---

<MainLayout>
  <section class="relative isolate h-[55vh] contact-hero flex items-center">
    <div class="absolute inset-0 w-full h-full bg-blue-950 opacity-70 z-0">
    </div>
    <div class="absolute top-[40%] left-[5%] z-10">
      <h2 class="uppercase text-teal-200 pb-3">
        Our Completed ongoing-projects/Projects
      </h2>
      <h1
        class="font-extralight text-white text-4xl md:text-5xl md:max-w-xl md:leading-[4rem] xl:text-6xl xl:max-w-3xl xl:leading-[5rem]"
      >
        We're Always Helpful To Lend A Hand
      </h1>
    </div>
  </section>

  <section class="p-4 py-6 md:p-6 md:py-8 flex justify-center items-center">
    <div class="md:max-w-4xl lg:max-w-7xl 2xl:max-w-[1450px]">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4 md:gap-6 lg:gap-8 xl:gap-10 2xl:gap-12"
      >
        <div
          class="relative isolate flex overflow-hidden rounded-2xl shadow-2xl"
        >
          <a href="ongoing-projects/project1" class="w-full h-full">
            <img
              src="/images/apartment-bg.jpg"
              class="object-cover w-full h-full"
              alt=""
            />
            <div
              class="absolute inset-0 w-full h-full z-20 flex flex-col justify-end items-start p-2 bg-[#00000031]"
            >
              <div class="text-white font-bold text-lg">
                ongoing-projects/Project Name
              </div>
              <div class="text-white font-bold text-lg">Location</div>
            </div>
          </a>
        </div>
        <div
          class="relative isolate flex overflow-hidden rounded-2xl shadow-2xl"
        >
          <a href="ongoing-projects/project2" class="w-full h-full">
            <img
              src="/images/apartment-bg.jpg"
              class="object-cover w-full h-full"
              alt=""
            />
            <div
              class="absolute inset-0 w-full h-full z-20 flex flex-col justify-end items-start p-2 bg-[#00000031]"
            >
              <div class="text-white font-bold text-lg">
                ongoing-projects/Project Name
              </div>
              <div class="text-white font-bold text-lg">Location</div>
            </div>
          </a>
        </div>
        <div
          class="relative isolate flex overflow-hidden rounded-2xl shadow-2xl"
        >
          <a href="ongoing-projects/project3" class="w-full h-full">
            <img
              src="/images/apartment-bg.jpg"
              class="object-cover w-full h-full"
              alt=""
            />
            <div
              class="absolute inset-0 w-full h-full z-20 flex flex-col justify-end items-start p-2 bg-[#00000031]"
            >
              <div class="text-white font-bold text-lg">
                ongoing-projects/Project Name
              </div>
              <div class="text-white font-bold text-lg">Location</div>
            </div>
          </a>
        </div>
        <div
          class="relative isolate flex overflow-hidden rounded-2xl shadow-2xl"
        >
          <a href="ongoing-projects/project4" class="w-full h-full">
            <img
              src="/images/apartment-bg.jpg"
              class="object-cover w-full h-full"
              alt=""
            />
            <div
              class="absolute inset-0 w-full h-full z-20 flex flex-col justify-end items-start p-2 bg-[#00000031]"
            >
              <div class="text-white font-bold text-lg">
                ongoing-projects/Project Name
              </div>
              <div class="text-white font-bold text-lg">Location</div>
            </div>
          </a>
        </div>
        <div
          class="relative isolate flex overflow-hidden rounded-2xl shadow-2xl"
        >
          <a href="ongoing-projects/project5" class="w-full h-full">
            <img
              src="/images/apartment-bg.jpg"
              class="object-cover w-full h-full"
              alt=""
            />
            <div
              class="absolute inset-0 w-full h-full z-20 flex flex-col justify-end items-start p-2 bg-[#00000031]"
            >
              <div class="text-white font-bold text-lg">
                ongoing-projects/Project Name
              </div>
              <div class="text-white font-bold text-lg">Location</div>
            </div>
          </a>
        </div>
        <div
          class="relative isolate flex overflow-hidden rounded-2xl shadow-2xl"
        >
          <a href="ongoing-projects/project6" class="w-full h-full">
            <img
              src="/images/apartment-bg.jpg"
              class="object-cover w-full h-full"
              alt=""
            />
            <div
              class="absolute inset-0 w-full h-full z-20 flex flex-col justify-end items-start p-2 bg-[#00000031]"
            >
              <div class="text-white font-bold text-lg">
                ongoing-projects/Project Name
              </div>
              <div class="text-white font-bold text-lg">Location</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
