---
import MainLayout from "../../layouts/main-layout.astro";
---

<MainLayout>
  <section class="relative isolate h-[55vh] contact-hero flex items-center">
    <div class="absolute inset-0 w-full h-full bg-blue-950 opacity-70 z-0">
    </div>
    <div class="absolute top-[50%] left-[5%] z-10">
      <h2 class="uppercase text-teal-200 pb-3">FAQs</h2>
      <h1
        class="font-extralight text-white text-4xl md:text-5xl md:max-w-xl md:leading-[4rem] xl:text-6xl xl:max-w-3xl xl:leading-[5rem]"
      >
        We're Always Helpful To Lend A Hand
      </h1>
    </div>
  </section>

  <section class="bg-slate-100">
    <div class="p-4 py-6 md:p-6 md:py-8 flex justify-center items-center">
      <div
        class="md:max-w-4xl lg:max-w-6xl xl:max-w-7xl 2xl:max-w-[1400px] grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 justify-center items-center gap-6 md:gap-7 lg:gap-8 xl:gap-10 2xl:gap-12"
      >
        <div
          class="p-4 lg:p-6 border rounded-3xl bg-white transition-all shadow-none hover:shadow h-full xl:p-8 2xl:p-10"
        >
          <h2 class="font-bold text-2xl">Question Lorem, ipsum dolor.?</h2>
          <p class="text-base text-neutral-700 p-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
            obcaecati.
          </p>
        </div>
        <div
          class="p-4 lg:p-6 border rounded-3xl bg-white transition-all shadow-none hover:shadow h-full xl:p-8 2xl:p-10"
        >
          <h2 class="font-bold text-2xl">Question Lorem, ipsum dolor.?</h2>
          <p class="text-base text-neutral-700 p-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
            obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Libero, reprehenderit.
          </p>
        </div>
        <div
          class="p-4 lg:p-6 border rounded-3xl bg-white transition-all shadow-none hover:shadow h-full xl:p-8 2xl:p-10"
        >
          <h2 class="font-bold text-2xl">
            Question Lorem, ipsum dolor. Lorem ipsum dolor sit.?
          </h2>
          <p class="text-base text-neutral-700 p-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
            obcaecati.
          </p>
        </div>
        <div
          class="p-4 lg:p-6 border rounded-3xl bg-white transition-all shadow-none hover:shadow h-full xl:p-8 2xl:p-10"
        >
          <h2 class="font-bold text-2xl">
            Question Lorem, ipsum dolor. Lorem ipsum dolor sit amet.?
          </h2>
          <p class="text-base text-neutral-700 p-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
            obcaecati. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Id, sit!
          </p>
        </div>
        <div
          class="p-4 lg:p-6 border rounded-3xl bg-white transition-all shadow-none hover:shadow h-full xl:p-8 2xl:p-10"
        >
          <h2 class="font-bold text-2xl">Question Lorem, ipsum dolor.?</h2>
          <p class="text-base text-neutral-700 p-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
            obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Explicabo unde beatae sapiente tempore at nulla placeat molestias
            earum iusto voluptate.
          </p>
        </div>
        <div
          class="p-4 lg:p-6 border rounded-3xl bg-white transition-all shadow-none hover:shadow h-full xl:p-8 2xl:p-10"
        >
          <h2 class="font-bold text-2xl">
            Question Lorem, ipsum dolor. Lorem ipsum, dolor sit amet consectetur
            adipisicing elit.?
          </h2>
          <p class="text-base text-neutral-700 p-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
            obcaecati.
          </p>
        </div>
        <div
          class="p-4 lg:p-6 border rounded-3xl bg-white transition-all shadow-none hover:shadow h-full xl:p-8 2xl:p-10"
        >
          <h2 class="font-bold text-2xl">
            Question Lorem, ipsum dolor. Lorem, ipsum dolor.?
          </h2>
          <p class="text-base text-neutral-700 p-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
            obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quia cupiditate expedita ea quaerat totam pariatur, eligendi nulla
            id veritatis quibusdam?
          </p>
        </div>
        <div
          class="p-4 lg:p-6 border rounded-3xl bg-white transition-all shadow-none hover:shadow h-full xl:p-8 2xl:p-10"
        >
          <h2 class="font-bold text-2xl">
            Question Lorem, ipsum dolor. Lorem, ipsum.?
          </h2>
          <p class="text-base text-neutral-700 p-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
            obcaecati. Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
