---
const { images } = Astro.props;
---

<div>
  <!-- <button class="work__link">view more</button> -->
</div>

<style>
  .work__link {
    display: block;

    margin-left: auto;
    padding: 8px 8px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000f97;
    font-weight: 600;
    letter-spacing: 4px;
    border: 2px solid #00189e;
    border-radius: 30px;
    transition: 0.4s;
  }

  .work__link:hover {
    background: white;
    color: rgb(0, 21, 114);
    letter-spacing: 6px;
  }
</style>
