<section class="map-section relative isolate">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3844.7511383516107!2d73.82170247595134!3d15.49781265448008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfc19552f23655%3A0x9fe81848e54f332f!2sSamrdh%20Design%20Studio%20%26%20Branding%20Pvt.Ltd.!5e0!3m2!1sen!2sin!4v1696486801024!5m2!1sen!2sin"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="w-full h-[500px] lg:h-[600px]"></iframe>
  <div
    class="absolute p-5 bg-white h-fit top-[15%] md:top-[30%] lg:p-8 m-6 md:right-[10%]"
  >
    <div>
      <span
        class="font-medium leading-[0] text-neutral-500 pb-1 uppercase text-[12px] lg:text-base"
      >
        Contact For Project</span
      >
      <h2
        class="text-4xl capitalize font-bold mt-1 leading-[1.2] text-primary max-w-md md:max-w-lg mb-6 lg:text-5xl"
      >
        Do You Have A Project In
        <b class="text-blue-700 font-medium italic">Mind?</b>
      </h2>
      <div class="flex flex-col gap-4 md:flex-row">
        <div class="bg-blue-600 text-center text-white p-4 md:w-[200px]">
          <div class="flex flex-col text-center">
            <span class="font-semibold">Call Us Now</span>
            <h3>8888888888</h3>
          </div>
        </div>
        <div class="bg-primary text-center text-white p-4 md:w-[200px]">
          <div class="flex flex-col text-center">
            <span class="font-semibold">Get In Touch</span>
            <h3>gajinkar@mail.com</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
